conda create -n d2 python=3.10.6
#Old version 
pip install torch==1.13.1+cu117 torchvision==0.14.1+cu117 torchaudio==0.13.1+cu117 --extra-index-url https://download.pytorch.org/whl/cu117

pip install torch==2.0.1+cu118 torchvision==0.15.2+cu118 torchaudio==2.0.2+cu118 --extra-index-url https://download.pytorch.org/whl/cu118

pip install diffusers==0.22.0 datasets transformers==4.25.1 imageio==2.27.0 gdown einops omegaconf safetensors compel

pip install xformers==0.0.21

pip install xformers==0.0.16 accelerate
pip install accelerate